@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  /*background-color: #FFFFFF;*/
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/

.site {
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.site__main {
  width: 70%;
  padding-left: 170px;
}

.site__right-sidebar {
  position: fixed;
  right: 0; top: 0; bottom: 0;
  width: 30%;
}

.site__main {
  flex-direction: row;
}

.site__left-sidebar {
  position: fixed;
  left: 0; top: 0; bottom: 0;

  width: 170px;
  padding: 20px 15px;

}

.site__content {
  flex-grow: 1;
  flex-basis: 0;
}

.products {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.product {
  width: 50%;
  height: 250px;
  background: rgba(0,255,0,0.3);
  margin-bottom: 20px;
}

.cart {
  flex-grow: 1;
  flex-basis: 0;

}

.cart__content {

  flex-grow: 1;
  flex-basis: 0;
  /*height: 100%;*/
  /*overflow: scroll;*/
}

.cart__title {
  position: absolute;
  top: 0; left: 0; right: 0;
}

.cart__title--spacer {
  position: relative;
  opacity: 0;
}

.cart-item {
  height: 150px;
  background: rgba(0,255,0,0.3);
  margin-bottom: 20px;

}

.checkout {
  height: 300px;
  background: rgba(0,0,255,0.3);
}

.red {
  background: rgba(255,0,0,0.3);
}

.green {
  background: rgba(0,255,0,0.3);
}

